<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
    <section class="intro">
        <h2>All Threats</h2>
        <h3>List of Threats</h3>
    </section>
    <main>
        <section class="threatListing">
            <ul>
                <% threats.forEach(threat => { %>
                    <li>
                        <figure>
                            <figcaption>
                                <!-- <strong> MAKES THINGS BOLD -->
                                <h4><a href="/threats/<%= threat._id %>"><%= threat.name %></a></h4>
                                <p><strong>Description:</strong> <%= threat.description %></p>
                                <p><strong>URL:</strong> <%= threat.url %></p>
                                <p><strong>Created:</strong> <%= threat.created.toDateString() %></p>
                                <p><strong>Last Modified:</strong> <%= threat.lastModified.toDateString() %></p>
                                <p><strong>Version:</strong> <%= threat.version %></p>
                                <p><strong>Tactics:</strong> <%= threat.tactics %></p>
                                <p><strong>Detection:</strong> <%= threat.detection %></p>
                                <p><strong>Platforms:</strong> <%= threat.platforms %></p>
                                <p><strong>Tactic Type:</strong> <%= threat.tacticType %></p>
                                <p><strong>MTC ID:</strong> <%= threat.MTCID %></p>
                                <p><strong>Relationship Citations:</strong> <%= threat.relationshipCitations %></p>
                            </figcaption>
                        </figure>
                    </li>
                <% }); %>
            </ul>
        </section>
    </main>
</body>
</html>
